.trending {
  background-color: #fff;
  padding: 40px 0px 60px 0px;
  .title {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #09294c;
    padding-bottom: 30px;
    font-size: 14px;
    text-align: center;
  }

  .image-block {
    .image {
      object-fit: cover;
      max-height: 400px;
    }
  }
}
