.user-dropdown {
  .dropdown-toggle {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;

    &::after {
      border-bottom-color: #5e6974;
      border-top-color: #5e6974;
    }

    &:hover,
    &:focus,
    &:active,
    &.show {
      background-color: transparent !important;
    }

    &:active, &:focus {
      outline: none !important;
      border: none !important;
    }

    .user-avatar {
      width: 29px;
      height: 29px;
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    .user-name {
      color: #5E6974;
      margin-right: 0.5rem;
    }
  }
}
