.product {
  display: flex;
  margin-top: 1rem;
  .product-name {
    color: #212121;
    font-size: 1em;
    display: block;
    margin-bottom: 0.5em;
    text-transform: capitalize;
    line-break: auto;
    word-break: break-word;
  }

  .discount {
    display: block;
    margin: 0;
    padding: 0;
    box-shadow: none;
    color: #999;
    font-size: 12px;
    line-height: 22px;
  }

  .remove {
    display: flex;
    justify-content: center;
  }
}
