.product-create-page {
  padding: 2rem 0;
  height: 100vh;
  
  .title-container {
    .title {
      margin: 9px 0;
      color: #73879c;
      font-weight: 500;
      line-height: 1.2;
      font-size: 1.75rem;
    }
  }
}
