.checkout {
  .checkout-items-container {
    display: flex;
    flex-flow: row wrap;
    margin: 5px 0 20px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 20);

    .products {
      &.more-than-one {
        .product {
          &:not(:last-child) {
            padding-bottom: 1rem;
            border-bottom: 1px solid #f2f2f2;
          }
        }
      }
      .product {
        display: flex;
        margin-top: 1rem;
        .product-name {
          color: #212121;
          font-size: 1em;
          display: block;
          margin-bottom: 0.5em;
          text-transform: capitalize;
          line-break: auto;
          word-break: break-word;
        }

        .discount {
          display: block;
          margin: 0;
          padding: 0;
          box-shadow: none;
          color: #999;
          font-size: 12px;
          line-height: 22px;
        }

        .remove {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .control-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    .total {
      font-size: 16px;
      font-weight: bold;
    }

    .button-container {
      .btn-pay {
        min-width: 153px;
        height: 33px;
        padding: 0 9px;
        border-radius: 5px;
        color: #000;
        text-shadow: 1px 1px 1px #fff6e9;
        border: 1px solid #84c639!important;
        background: #84c639!important;
      }
    }
  }
}
