.product-category {
  .card {
    background: #051d36;
    padding-bottom: 30px;
    min-height: 280px;
    margin-bottom: 30px;
    transition: ease all 0.5s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      background: #007dea;
    }

    .card-img {
      max-width: 100%;
      height: auto;
    }

    .card-img-overlay {
      position: relative;
      padding-bottom: 0;
      .card-title {
        text-align: center;
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        transition: all 0.3s ease 0s;
        letter-spacing: 0px;
      }
    }
  }
}
