.banners {
  .title {
    color: #fff;

    &.pagos {
      margin-bottom: 1.5rem;
    }
  }

  .icon-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1rem;
    .list-item {
      &:not(:last-child) {
        margin-right: 1rem;
      }

      svg {
        cursor: pointer;
        border: 2px solid #fff;
        border-radius: 20px;
        color: #fff;
        width: 40px;
        height: 40px;
        display: block;
        text-align: center;
      }
    }
  }
}
